# Configuration file for SARndbox application
# Copyright (c) 2016 Oliver Kreylos

section SARndbox
	section Camera
		# Configuration parameters for Kinect v1
		compressDepthFrames true
		smoothDepthFrames false
	endsection

    section Masking
        maskScaleOffset 1.1 #default is 1.1 but should range (0.9 - 1.5)
    endsection
    section WaterSimulation
        faucetRadius 5.0 #default is 5.0
    endsection
endsection
